{% from "macros/_icon.html" import icon %}

{% macro course_card(course) %}
<div class="course-card">
    <div class="course-bar top"
        x-data="{tipo: ['Licenciatura', 'Especialidad', 'Obligatorio'][Math.floor(Math.random() * 3)]}">
        <span class="left">
            {{ course["codigo"] }}
        </span>
        <div class="right">
            <div class="pill" x-text="tipo" :class="tipo"></div>
        </div>
    </div>
    <span class="course-name">
        {{ course.nombre }}
    </span>
    <div class="course-bar bottom">
        <div class="left review-stats">
            <div class="group">{{ icon('message-square') }}<span>--</span></div>
            <div class="group">{{ icon('thumbs-up') }}<span>--%</span></div>
        </div>
        <div class="right">
            <div class="group">
                {{ icon('calendar') }}<span>{{ course.ultima_dictacion }}</span>
            </div>
        </div>
    </div>
</div>
{% endmacro %}