$text: #ebebeb;
$text-secondary: #8898a5;

$background: hsl(250, 12%, 12%);
$background-mid: hsl(250, 12%, 18%);

// $background: #222;
// $background-mid: #333;

$primary: hsl(200, 60%, 50%);
$primary-dark: hsl(200, 40%, 30%);
$accent: hsl(200, 100%, 60%);


// Specifics:
$link: $accent;
$card: $background-mid;

$card-highlight: $primary-dark;
$card-pill: $primary;
$course-code: $text-secondary;

$button: $primary;
$button-highlight: $accent;
$button-text: $background;

$input-border: $text-secondary;
$input-highlight: $accent;
$placeholder-text: $text-secondary;

$header-text: $text;

$form: $background-mid;
$sublabel: $text-secondary;

$select-background: $background;
$select-border: $background;
$select-text: $text;

$electivo-e: hsl(120, 12%, 22%);
$electivo-l: hsl(190, 12%, 22%);
$malla: hsl(250, 18%, 22%);

// $electivo-e: hsl(120, 12%, 28%);
// $electivo-l: hsl(190, 12%, 28%);
// $malla: hsl(250, 18%, 28%);
