<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFCFM | {% block title %}{% endblock %}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block css %}{% endblock %}

    <script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.5.0/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
    <section id="toaster" class="gui-toast-group">
    </section>

    {% include '/partials/_header.html' %}

    <main>{% block content %}{% endblock %}</main>

    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        newToast('{{ message }}', '{{ category }}');
                    {% endfor %}
                {% endif %} 
            {% endwith %}
        });
    </script>
</body>
</html>