{% from "_macros.html" import icon %}

{% extends "_base.html" %}

{% block title %}Home{% endblock %}


{% block content %}
    <h1>Ramos FCFM</h1>

    <section x-data="loadCourses()">

        <input
            id="search"
            x-ref="searchField"
            x-model="search"
            x-on:keydown.window.prevent.slash="$refs.searchField.focus()"
            placeholder="Buscar un curso..."
            type="search"
        />
        
        <div id="courses">
            <template x-for="course in filteredCourses" :key="course.id">
                <div class="course-card">
                    <div class="course-bar top" x-data="{tipo: ['Licenciatura', 'Especialidad', 'Obligatorio'][Math.floor(Math.random() * 3)]}">
                        <span class="left" x-text="course.codigo"></span>
                        <div class="right">
                            <div class="pill" x-text="tipo" :class="tipo">Electivo</div>
                        </div>
                    </div>
                    <span class="course-name" x-text="course.nombre"></span>
                    <div class="course-bar bottom">
                        <div class="left review-stats">
                            <div class="group">{{ icon('message-square') }}<span>4</span></div>
                            <div class="group">{{ icon('thumbs-up') }}<span>78%</span></div>
                        </div>
                        <div class="right">
                            <div class="group">{{ icon('calendar') }}<span x-text="course.ultima_dictacion"></span></div>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <script>
            function normalize(string) {
                return string.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
            }

            function loadCourses() {
                return {
                    search: "",
                    myForData: sourceData,
                    get filteredCourses() {
                        console.log(this.search);

                        if (!this.search) {
                            return this.myForData;
                        }

                        const searchString = normalize(this.search)

                        return this.myForData.filter((item) => {
                            return normalize(item.nombre).includes(searchString) || normalize(item.codigo).includes(searchString);
                        });
                    }
                }
            }

            const sourceData = {{ courses | tojson | safe }};
        </script>
    </section>
{% endblock %}