{% extends "_base.html" %}

{% block title %}Home{% endblock %}


{% block content %}
    <h1>Ramos FCFM</h1>

    <section x-data="loadCourses()">

        <input
            x-ref="searchField"
            x-model="search"
            x-on:keydown.window.prevent.slash="$refs.searchField.focus()"
            placeholder="Buscar un curso..."
            type="search"
        />
        
        <div id="courses">
            <template x-for="course in filteredCourses" :key="course.id">
                <div class="course-card">
                    <div class="course-top-bar">
                        <span class="course-code" x-text="course.code"></span>
                        <span class="course-stars">★★★★★</span>
                    </div>
                    <span class="course-name" x-text="course.name"></span>

                    <div class="course-info">
                        <div class="left">
                            <div><span>Dificultad;</span><span>🔥 Dificil</span></div>
                            <div><span>Carga:</span><span>😰 Pesado</span></div>
                            <div><span>Utilidad:</span><span>🤩 Útil</span></div>
                        </div>
                        <div class="right">
                            <div><span>103 Reseñas</span></div>
                            <div><span>6 Créditos</span></div>
                            <div><span>Dictado: 2022</span></di>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <script>
            function normalize(string) {
                return string.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
            }

            function loadCourses() {
                return {
                    search: "",
                    myForData: sourceData,
                    get filteredCourses() {
                        console.log(this.search);

                        if (!this.search) {
                            return this.myForData;
                        }

                        const searchString = normalize(this.search)

                        return this.myForData.filter((item) => {
                            return normalize(item.name).includes(searchString) || normalize(item.code).includes(searchString);
                        });
                    }
                }
            }

            const sourceData = {{ courses | tojson | safe }};
        </script>
    </section>
{% endblock %}