@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

#courses {
	@include m.flex-container(row, center, center);
	position: relative;
	flex-wrap: wrap;
	gap: 1.5rem;
	width: 100%;
}

$padding: 4px;
$border-radius: 0.5rem;

.course-card {
	@include m.flex-container(column, flex-start, center);
	@include m.shadow1;

	text-align: center;
	position: relative;
	overflow: visible;

	cursor: pointer;

	background-color: c.$card;

	width: 100%;
	max-width: 20rem;

	border-radius: 0.5rem;
	gap: 1rem;

	// $card-height: 10rem;
	$card-height: 7rem;
	height: $card-height;
	transition: all 0.3s ease;

	.course-bar {
		@include m.flex-container(row, space-between, center);
		position: absolute;
		width: 100%;
		gap: 0.5rem;

		font-size: 0.9rem;
		color: c.$course-code;

		border-radius: 0.5rem 0.5rem 0 0;
		padding: 0.5rem;

		&.top {
			top: 0;
			left: 0;
		}

		&.bottom {
			bottom: 0;
			left: 0;
		}

		.review-stats {
			@include m.flex-container(row, center, center);
			gap: 0.75rem;
		}

        .group {
            @include m.flex-container(row, center, flex-end);
            gap: 0.25rem;
        }

		> .left {
			text-align: left;
		}

		> .right {
			text-align: right;
		}
	}

	.course-name {
		@include m.flex-container(column, center, center);
		font-weight: 600;
		padding-inline: 0.5rem;
		height: 100%;
	}

	.course-info {
		@include m.flex-container(row, space-between, flex-end);
		width: 100%;
		padding: $padding;
		height: 100%;

		> div {
			@include m.flex-container(column, flex-start, flex-start);
			padding: $padding;
		}
	}

	// .course-info {
	// 	@include m.flex-container(row, space-between, flex-start);
	// 	position: absolute;
	// 	overflow: hidden;
	// 	text-align: left;

	// 	top: calc(100% - $border-radius);
	// 	// bottom: 0;
	// 	left: 0;

	// 	width: 100%;
	// 	height: 0;

	// 	background-color: c.$card;
	// 	border-radius: 0 0 0.5rem 0.5rem;

	// 	transition: all 0.3s ease;

	// 	z-index: 2;

	// 	> div {
	// 		@include m.flex-container(column, flex-start, flex-start);
	// 		padding: $padding;
	// 	}
	// }

	&:hover {
		background-color: c.$card-highlight;

		.course-bar {
			color: inherit;
		}
	}
}
