@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

#courses {
	@include m.flex-container(row, center, center);
	position: relative;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
}

$padding: 4px;
$border-radius: 0.5rem;

.course-card {
	@include m.flex-container(column, flex-start, center);
    @include m.shadow1;

	text-align: center;
	position: relative;
	overflow: visible;

	cursor: pointer;

	background-color: c.$card;

	width: 100%;
	max-width: 20rem;

	border-radius: 0.5rem;
	gap: 1rem;

	// $card-height: 10rem;
    $card-height: 6rem;
	height: $card-height;
	transition: all 0.3s ease;

	.course-top-bar {
		@include m.flex-container(row, space-between, center);
		width: 100%;
		padding: $padding;
		gap: 0.5rem;

		border-radius: 0.5rem 0.5rem 0 0;


		> .course-code {
			text-align: left;
			margin-left: 0.5rem;
            color: c.$background;
			background-color: c.$card-pill;
		}

		> .course-reviews {
			text-align: right;
			margin-right: 0.5rem;
            transition: all 0.3s ease;
		}
	}

	.course-name {
        font-weight: 600;
		padding-inline: $padding;
        height: 100%;
	}

    .course-info {
        @include m.flex-container(row, space-between, flex-end);
        width: 100%;
        padding: $padding;
        height: 100%;

        > div {
			@include m.flex-container(column, flex-start, flex-start);
			padding: $padding;
		}
    }

	// .course-info {
	// 	@include m.flex-container(row, space-between, flex-start);
	// 	position: absolute;
	// 	overflow: hidden;
	// 	text-align: left;

	// 	top: calc(100% - $border-radius);
	// 	// bottom: 0;
	// 	left: 0;

	// 	width: 100%;
	// 	height: 0;

	// 	background-color: c.$card;
	// 	border-radius: 0 0 0.5rem 0.5rem;

	// 	transition: all 0.3s ease;

	// 	z-index: 2;

	// 	> div {
	// 		@include m.flex-container(column, flex-start, flex-start);
	// 		padding: $padding;
	// 	}
	// }

	&:hover {
		background-color: c.$card-highlight;
	}
}
