@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;


#courses {
    @include m.flex-container(row, center, center);
    position: relative;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

$padding: 4px;
$border-radius: 0.5rem;

.course-card {
    @include m.flex-container(column, flex-start, center);
    text-align: center;
    position: relative;
    overflow: visible;

    cursor: pointer;

    background-color: c.$background-primary;

    width: 100%;
    max-width: 20rem;

    border-radius: 0.5rem;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    gap: 0.5rem;

    $card-height: 5rem;
    height: $card-height;
    transition: all 0.3s ease;

    .course-top-bar {
        @include m.flex-container(row, space-between, center);
        width: 100%;
        padding: $padding;
        gap: 0.5rem;

        border-radius: 0.5rem 0.5rem 0 0;

        .course-code {
            text-align: left;
            padding-left: 0.5rem;
        }

        .course-stars {
            text-align: right;
            padding-right: 0.5rem;
            color: c.$accent;
        }
    }

    .course-name {
        padding-inline: $padding;
    }

    .course-info {
        @include m.flex-container(row, space-between, flex-start);
        position: absolute;
        overflow: hidden;
        text-align: left;

        top: calc(100% - $border-radius);
        // bottom: 0;
        left: 0;

        width: 100%;
        height: 0;

        background-color: c.$background-primary;
        border-radius: 0 0 0.5rem 0.5rem;

        transition: all 0.3s ease;

        z-index: 2;

        >div {
            @include m.flex-container(column, flex-start, flex-start);
            padding: $padding;
        }
    }

    &:hover {
        border-radius: 0.5rem 0.5rem 0 0;
        background-color: c.$background-highlight;


        .course-info {
            height: $card-height * 0.75;
            background-color: c.$background-highlight;
        }
    }
}
