@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

form {
    @include m.flex-container(column, center, center);
    @include m.shadow1;

    gap: 2rem;
    padding: 1rem;
    border-radius: 6px;
    background: c.$form;
    width: 100%;
    max-width: 30rem;
    margin: 2rem auto;

    label {
        vertical-align: middle;
        display: inline-block;
    }

    .sublabel {
        color: c.$sublabel;
        font-style: italic;
    }

    >div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &:last-child {
            align-items: flex-end;
        }
    }
}