@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

input {
	color: c.$text;
	background-color: c.$background;
	font-family: inherit;
	font-size: inherit;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 10px;
	border-radius: 6px;
	outline: none;
	border: 1px solid c.$input-border;

	&:focus {
		border: 1px solid c.$input-highlight;
		box-shadow: 0 0 3px c.$input-border;
	}

	&::placeholder {
		color: c.$placeholder-text;
	}

	&:hover {
		box-shadow: 0 0 3px c.$input-highlight;
	}
}

label {
    font-weight: bold;
	vertical-align: middle;
	display: inline-block;
}

input[type="submit"] {
    @include m.shadow1;

    cursor: pointer;

    color: c.$button-text;
    background-color: c.$button;
    border: none;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 5px 16px;
    border-radius: 6px;
    width: 8rem;
    font-weight: bold;
    outline: none;

    transition: all 0.2s ease;

    &:hover {
        background-color: c.$button-highlight;
    }
}