@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

select {
	color: c.$text;
	background-color: c.$select-background;
	font-family: inherit;
	font-size: inherit;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 10px;
	border: none;
	border-radius: 6px;
	outline: none;
	border: 1px solid c.$select-border;
}
