<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFCFM | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block js %}{% endblock %}
</head>
<body>
    <section id="toaster" class="gui-toast-group">
    </section>
    <nav>
        <a href="{{ url_for('index') }}">Ramos</a>

        {% if is_logged_in %}
            <a href="{{ url_for('profile') }}">Mi perfil</a>
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('signup') }}">Crear cuenta</a>
            <a href="{{ url_for('login') }}">Iniciar sesión</a>
        {% endif %}
    </nav>

    <main>{% block content %}{% endblock %}</main>

    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        newToast('{{ message }}', '{{ category }}');
                    {% endfor %}
                {% endif %} 
            {% endwith %}
        });
    </script>
</body>
</html>