{% extends "_base.html" %}

{% block title %}Ingreso{% endblock %}

{% block content %}
    <h2>Ingreso</h2>
    <form method="post">
        {{ form.hidden_tag() }}

        <div>
            {{ form.email.label }}
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>{{ form.submit() }}</div>
    </form>
{% endblock %}