{% extends "_base.html" %}

{% block title %}Mis reseñas{% endblock %}

{% block content %}
    <h1>Mis reseñas</h1>
    {% if is_verified %}
        <a href="{{ url_for('forgot_password') }}">Cambiar contraseña</a>

        <p>Estas son tus reseñas:</p>
        <ul>
            {% for review in reviews %}
                <li>{{ review.title }} - {{ review.rating }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>Por favor verifica tu correo para poder dejar reseñas.</strong>
    {% endif %}
{% endblock %}
```