/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: auto !important;
  scroll-behavior: smooth;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  color: #090908;
  background-color: #eee9db;
  margin: 0 12%;
}
@media screen and (max-width: 1000px) {
  body {
    margin: 0 3%;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 5rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

a {
  position: relative;
  text-decoration: none;
  color: #32a0c8;
}
a:hover::before {
  transform: scaleX(1);
}
a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #32a0c8;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease;
}
a.right::before {
  transform-origin: right;
}
a.left::before {
  transform-origin: left;
}

html {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

strong {
  font-weight: 700;
}

/* Toasts */
.gui-toast-group {
  position: fixed;
  z-index: 1;
  inset-block-end: 0;
  inset-inline: 0;
  padding: 5vh;
  display: grid;
  justify-items: center;
  justify-content: right;
  gap: 1vh;
  pointer-events: none;
}

.gui-toast {
  max-inline-size: min(25ch, 90vw);
  padding-block: 0.5ch;
  padding-inline: 1ch;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  background: hsla(0, 0%, 20%, 0.9);
  --_duration: 3s;
  --_travel-distance: 0vh;
  will-change: transform;
  animation: fade-in 0.3s ease, slide-in 0.3s ease, fade-out 0.3s ease var(--_duration);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(var(--_travel-distance, 10px));
  }
}
@media (prefers-reduced-motion: no-preference) {
  .gui-toast {
    --_travel-distance: 5vh;
  }
}
.gui-toast-info {
  background-color: #007bff;
  color: white;
}

.gui-toast-error {
  background-color: #dc3545;
  color: white;
}

.gui-toast-success {
  background-color: #28a745;
  color: white;
}

#courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-align: center;
  position: relative;
  overflow: visible;
  cursor: pointer;
  background-color: #e0d7c5;
  width: 100%;
  max-width: 20rem;
  border-radius: 0.5rem;
  gap: 1rem;
  height: 6rem;
  transition: all 0.3s ease;
}
.course-card .course-top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
  gap: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.course-card .course-top-bar > .course-code {
  text-align: left;
  margin-left: 0.5rem;
  color: #eee9db;
  background-color: #1d61a9;
}
.course-card .course-top-bar > .course-reviews {
  text-align: right;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
}
.course-card .course-name {
  font-weight: 600;
  padding-inline: 4px;
  height: 100%;
}
.course-card .course-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
  height: 100%;
}
.course-card .course-info > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px;
}
.course-card:hover {
  background-color: #6cb2d1;
}

input {
  color: #090908;
  background-color: #eee9db;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #998973;
}
input:focus {
  border: 1px solid #32a0c8;
  box-shadow: 0 0 3px #998973;
}
input::-moz-placeholder {
  color: #797d69;
}
input::placeholder {
  color: #797d69;
}
input:hover {
  box-shadow: 0 0 3px #32a0c8;
}

label {
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

input[type=submit] {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  cursor: pointer;
  color: #eee9db;
  background-color: #1d61a9;
  border: none;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 5px 16px;
  border-radius: 6px;
  width: 8rem;
  font-weight: bold;
  outline: none;
  transition: all 0.2s ease;
}
input[type=submit]:hover {
  background-color: #32a0c8;
}

select {
  color: #090908;
  background-color: #eee9db;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  border: 1px solid #998973;
}

.pill {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 2px;
  border-radius: 4px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding: 0.5rem 12%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #eee9db;
  background-color: #201288;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
nav > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
  white-space: nowrap;
}
nav a {
  color: #eee9db;
}

#logo {
  filter: drop-shadow(1px 0px 0px white) drop-shadow(-1px 0px 0px white) drop-shadow(0px 1px 0px white) drop-shadow(0px -1px 0px white);
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
#logo:hover {
  transform: rotate(366deg);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  gap: 2rem;
  padding: 1rem;
  border-radius: 6px;
  background: #e0d7c5;
  width: 100%;
  max-width: 30rem;
  margin: 2rem auto;
}
form label {
  vertical-align: middle;
  display: inline-block;
}
form .sublabel {
  color: #797d69;
  font-style: italic;
}
form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form > div:last-child {
  align-items: flex-end;
}/*# sourceMappingURL=main.css.map */