@use "../abstracts/mixins" as m;
@use "../abstracts/colors" as c;


nav {
    @include m.flex-container(row, space-between, center);
    height: 4rem;
    padding: 0.5rem 12%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);

    >div {
        @include m.flex-container(row, flex-end, center);
        gap: 10%;
        white-space: nowrap;
    }

    a {
        color: c.$header-text;
    }
}

#logo {
    filter:
        drop-shadow( 1px  0px 0px white) 
        drop-shadow(-1px  0px 0px white)
        drop-shadow( 0px  1px 0px white) 
        drop-shadow( 0px -1px 0px white);
    
    transition: all 0.7s ease-in-out;

    cursor: pointer;

    width: 3rem;
    height: 3rem;

    &:hover {
        transform: rotate(366deg);
    }
}