{% extends "_base.html" %}

{% block title %}Crear Cuenta{% endblock %}

{% block content %}
    <h2>Crear cuenta</h2>
    <form method="post">
        {{ form.hidden_tag() }}

        <div>
            {{ form.email.label }}
            <p class="sublabel">(terminando en ug.uchile.cl o ing.uchile.cl)</p>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}
            <p class="sublabel">(mínimo 8 carácteres)</p>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div>{{ form.submit() }}</div>
    </form>
{% endblock %}